.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.home-page > h1 {
  margin: 2%;
}

.site-description {
  margin: 2%;
  width:  70%;
}