@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
  --color-1: #18A4B6;
  --color-1-light: #18a4b64e;
  --color-2: #1855B6;
  --color-2-light: #1855b66d;
  --color-3: #18B679; 
  --color-3-light: #18b6798b;
  --border: 2px solid;
  --border-radius: 5px;
  --font-family:'Open Sans', sans-serif;
}

* {
  font-family: var(--font-family);
}

main {
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none !important;
  color: black;
}

button {
  border: none;
}

.nav-spacing {
  margin-left: 13%;
  height: 100%;
}

.submit-button {
  border: var(--border) var(--color-3);
  border-radius: var(--border-radius);
  min-width: 150px;
  width: 10vw;
  margin: 1%;
  height: 5vh;
  min-height: 30px;
  font-weight: bold;
  background-color: var(--color-3-light);
  transition: 0.5s;
  cursor: pointer;
}

.submit-button:hover {
  scale: 1.1;
  background-color: var(--color-3);
}

