.condition-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  background-color: var(--nav-color);
  border: var(--border) var(--border-color);
  border-radius: var(--border-radius);
  height: 50vh;
  width:70%
}

label {
  text-align: center;
}