.condition-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  background-color: var(--nav-color);
  border: var(--border) var(--border-color);
  border-radius: var(--border-radius);
  height: 80%;
  width:70%;
  justify-content: space-between;
}

label {
  text-align: center;
  align-items: center;
}

input {
  font-size: large;
}