.medication-form {
  display: flex;
  flex-direction: column;
  padding: 5%;
  background-color: rgba(137, 43, 226, 0.283);
  height: 100vh;
}

.med-form {
  display: flex;
  flex-direction: column;
  margin: 2%;
  background-color: rgba(0, 0, 255, 0.265);
}

.med-form > button {
  width: max-content;
}

.med-label {
  display: flex;
  flex-direction: column;
  margin: 2%;
}