@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
  --color-1: #18A4B6;
  --color-1-light: #b8e3e9;
  --color-2: #1855B6;
  --color-2-light: #1855b66d;
  --color-3: #18B679; 
  --color-3-light: #80d7b6;
  --border-color: #686767;
  --nav-btn: #bcbbbb;
  --nav-color: #f1f1f1;
  --border: 2px solid;
  --border-radius: 5px;
  --font-family:'Open Sans', sans-serif;
}

* {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}